.CustomInput {
  width: 100%; /* if enclosing element does not limit the size, change here */
  position: relative;
  height: 50px;
  /* margin: 1rem; */
  overflow: hidden;
}

.CustomInput input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  outline: none;
  opacity: .8;
  font-size: 1rem;
  color: var(--fontColor);
  background-color: var(--backgroundColor);
}

.lable-name {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: var(--fontColor);
  border-bottom: 1px solid var(--fontColor);
}

.lable-name::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: all .3s ease;
  border-bottom: 3px solid var(--mainColor);
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all .3s ease;
}

.CustomInput input:focus + .lable-name .content-name,
.CustomInput input:valid + .lable-name .content-name {
  transform: translateY(-120%); /* if placeholder need to get higher, change here (e.g. -200%) */
  font-size: .8rem;
  color: var(--mainColor);
}

.CustomInput input:focus + .lable-name::after,
.CustomInput input:valid + .lable-name::after {
  transform: translateX(0%);
}