:root {
  --mainColor: #ffffff;
  --backgroundColor: #2F2F2B;
  --fontColor: #FF7129;
}

body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
}

#right {
  background-color: var(--mainColor);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

#right h1 {
  margin-left: 1rem;
  color: var(--backgroundColor)
}

@media only screen and (max-width: 1199px) {
  #right {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
  #right h1 {
    color: var(--fontColor)
  }
}