* { 
	margin: 0; 
	padding: 0; 
	border: 0; 
}

body {
	background: rgb(27,99,142);
	background: linear-gradient(150deg, rgba(27,99,142,1) 0%, rgba(17,139,97,1) 45%, rgba(0,213,14,1) 100%);
	height: 100vh;
	background-attachment: fixed;
}

h2 {
	margin: 1rem;
	color: white;
}